body{
	width: 1050px;
	height: 1400px;
    font-family: arial, verdana, sans-serif;
    color: #ccc;
}
#page{
	margin: 0px, auto;
	display: block;
}
#leftsection{
    width: 250px;
    float: left;
    margin: 140px auto;
}
#head{
  display: inline-block;
  width: 850px;
  margin: 0px auto;
}
.name{
  font-size: 50px;
  width: 650px;
  height: 90px;
  float: right;
}
p{
  margin: 0px auto;
  float: right;
}
span{
  font-size: 20px;
  float: right;
}
figure{
  margin: 0px auto;
}
.logo{
  float: left;
  width: 200px;
  height: 90px;
}
#rightsection{
	width: 800px;
	float: right;
	margin: 0px auto;
}
.orange, .gray, .black{
	border: 2px solid green;
	background: green;
	display: block;
	width: 70px;
	height: 70px;
	margin-left: 50px;
}
.column1, .column2, .column3{
	display: inline-block;
	margin: 0px;
	width: 240px;
}
.line{
	border: 1.5px solid #ccc;
}