body{
	width: 1050px;
	height: 1000px;
    font-family: arial, verdana, sans-serif;
    color: #ccc;
}
#page{
	margin: 0px, auto;
	display: block;
}
#leftsection{
    width: 250px;
    float: left;
    margin: 140px auto;
}
.head{
	display: inline;
}
.logo{
   text-align: left;
  height: 0px
}
.nameTitle{
  text-align: right;
  font-size: 50px;
  height: 130px;
}
span{
  font-size: 20px;
}
#rightsection{
	width: 800px;
	float: left;
	margin: 0px auto;
}
.orange, .gray, .black{
	border: 2px solid green;
	background: green;
	display: block;
	width: 70px;
	height: 70px;
	margin-left: 50px;
}
.column1, .column2, .column3{
	display: inline-block;
	margin: 0px;
	width: 240px;
}
.line{
	border: 1.5px solid #ccc;
}